DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_DATABASE=dnswebapp
MYSQLDUMP_PATH="C:\Program Files\MySQL\MySQL Server 8.0\bin"
CONFIG_PASSWORD=masterpassword
ADMINISTRATOR_EMAIL=test@gmail.com
